
.loadingGif{
    width: 150px;
    padding: 30px 0px;
    background: rgba(255,255,255,.9);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.8);
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 22;
    text-align: center;
}
.loadingGif img{
    width: 40px;
}
.bluredBackground{
    background: rgba(0,0,0,.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 21;
}
.location-container{
    margin: 20px 0px 8px 0px;
    font-size: .9em;
}
.location-container label{
    /*display: block;*/
    margin-bottom: 0;
}
.location-container select{
    display: inline-block;
    padding: 0px;
    width: initial !important;
    height: initial !important;
    font-size: 1em !important;
    line-height: initial !important;
}
.location-container .location-info:focus{
    outline: none;

}
.location-container i.fa{
    color:#007bff;
    font-size: 1.4em;
    margin-left: 5px;
    transition: color .3s;
    cursor: pointer;
}
.location-container i.fa:hover{
    color:#005cbf;
}
div.steps{
    margin: 10px 0px;
}
span.stepNumber{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
}
span.stepNumber em{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    line-height: 26px;
    background: white;
    border-radius: 50%;
    text-align: center;
    font-style: normal;
    color: #2ab27b;
    border: 2px solid #2ab27b;
}

span.stepNumber em.active{
    background: #2ab27b;
    color: white;
}

.datepicker-container{
    /*text-align:center;*/
}
#proxHoraDisponible{
    display: block;
    text-align: center;
    min-width: 200px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
    font-size: .9em;
}
#proxHoraDisponible button.btnReservarProxHora{
    display: block;
    margin: auto;
    width: 200px;
    border-radius: 25px;
    margin-top: 10px;
}
.datepicker-container #datepicker .ui-datepicker{
    min-width: 200px;
    width: 100%;
    max-width: 400px;
    min-height: 200px;
    height: 100%;
    max-height: 400px;
    display: block;
    margin: 0 auto;
}

.tableContent{
    display: none;
    overflow-y: scroll;
}
.tableContent #tableHoras tr td{
    font-size: .8em;
}
.tableContent #tableHoras tr td.tdHoraSeleccion{
    text-align: center;
}
.btnContentAgendar{
    margin-top: 20px;
    display: none;
    text-align: right;
}
.horasDisponibles .alert-info{
    font-size: .8em;
    padding: .5em 1em;
    margin-bottom: 5px;
}
.horasContent{
    text-align: center;
    overflow-y: scroll;
    height: 200px;
    display: none;
}
.horasContent .hora{
    cursor: pointer;
    position: relative;
    padding: 10px 0px;
    margin: 5px 0px;
    border: 1px solid rgba(33, 89, 201, 0.56);
    border-radius: 5px;
}
.horasContent .disabled-hour{
    color: rgba(0,0,0,.4);
    border: 1px solid rgba(0,0,0,.4);
    cursor: not-allowed;
}
.horasContent .selectedHora{
    background: #32918C;
    color: white;
}
.horasContent .hora span{
    display: block;
    font-size: .8em;
}
.horasContent .hora input[type='radio']{
    position: absolute;
    right: 20px;
    top: 43%;
    height: 1em;
    width: 1em;
    opacity: 0;
}
@media screen and (min-width: 720px) {
    div.steps{
        margin: 0px;
    }

}