header{
    width: 100%;
    height: 50px;
    /*background: #2F8782;*/
    background: #32918C;
}
header .mobileHeader{
    width: 90%;
    margin: auto;
}
header .mobileHeader .navLogo{
    margin: 0;
    margin-left: -20px;
    width: 35px;
}
header .mobileHeader .navLogo img{ width: 100%; }
header .mobileHeader h1{
    margin: 0;
    margin-left: 20px;
    color: white;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.4em;
}
.embed-responsive{ height: calc(100vh - 50px); }
.content{ padding: 0 !important; }

#fuera_de_rango{
    height: calc(100vh - 50px);
    background: #32918C;
    color: white;
}
#fuera_de_rango span{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    display: block;
    letter-spacing: 1px;
    font-size: 1.2em;
    /*margin: auto;*/
}