h3{
    margin-top: 50px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    text-align: center;
}
table{
    margin: auto;
}
table tr{
    height: 50px;
}
table tr td:first-of-type{
    padding-left: 20px;
    text-align: right;
    text-transform: uppercase;
}
table tr td:nth-of-type(2){
    padding-left: 40px;
    padding-right: 20px;
}

.btnContentReserva{
    margin-bottom: 20px;
}
.btnContentReserva button{
    margin: 10px 10px;
    text-transform: uppercase;
    background: none;
    border: 2px solid #32918C;
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
    width: 100%;
}

.btnContentReserva button:hover{
    background: #32918C;
    color: white;
}

@media screen and (min-width: 680px) {
    .btnContentReserva button {
        width: inherit;
        margin: 0px 10px;
    }
}