
html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-image: url("images/telecetep-fondo2.png") !important;
    background-size: cover;

  

}

.tab-form{
    
  border-radius: 10px !important;
  
  border: 2px solid #73AD21 !important;
  padding: 20px !important;
  /*/
  width: 200px !important;
  height: 150px !important;
  /*/
  background-color: white !important;
}

.form-signin,
.form-update{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .checkbox,
.form-update .checkbox{
    font-weight: 400;
}
.form-signin .form-control,
.form-update .form-control{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus,
.form-update .form-control:focus{
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-update input{
    margin: 7px 0px;
}
.form-update button{
    margin-top: 30px;
}
