.loadingGif{
    width: 150px;
    padding: 30px 0px;
    background: rgba(255,255,255,.9);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.8);
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 22;
    text-align: center;
}
.loadingGif img{
    width: 40px;
}
.bluredBackground{
    background: rgba(0,0,0,.6);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 21;
}
h1.pageTitleLeft {
    font-size: 1.5em;
    text-align: center !important;
}
h3{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}
#bajada{
    margin-bottom: 20px;
    text-align: center;
}
button#btnAgendar{
    text-transform: uppercase;
    font-weight: lighter;
    padding: 15px 0px;
    text-align: center;
    white-space: initial; /* CSS3 */
}
.table-container{
    max-height: 400px;
    overflow: scroll;
}
#tableHorasReservadas tr td{
    line-height: 30px;
}
#tableHorasReservadas tr td .btn{
    height: 100%;
    min-width: 120px;
}