h1#pageTitle {
    font-size: 1.5em;
    text-align: center;
}
div.logos {
    width: 100%;
    text-align: center;
}
div.logos figure.logo {
    width: 200px;
    padding: 0;
    margin: 10px auto;
    display: inline-block;
    vertical-align: middle;
}
div.logos figure.logo img {
    width: 100%;
}
div.saludo p{
    text-align: center;
}
div.buttonsContent a {
    text-transform: uppercase;
    margin-top: 10px;
}
modal-body. ul {
    margin: 0;
}
.modal-body ul li {
    margin: 15px 0px;
}
.modal-body .reqTec-subtitle {
    font-weight: bold;
    color: rgba(0, 0, 0, .75);
}
.accordionContent{
    margin-bottom: 20px;
}
.accordionContent .btn-link {
    text-transform: uppercase;
    letter-spacing: 1px;
}
.accordionContent .btn-link:hover,
.accordionContent .btn-link:focus {
    text-decoration: none;
}